@font-face {
  font-family: 'iconfont'; /* Project id 3950020 */
  src: url('iconfont.woff2?t=1683422183649') format('woff2'),
    url('iconfont.woff?t=1683422183649') format('woff'),
    url('iconfont.ttf?t=1683422183649') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rila:before {
  content: '\e60f';
}

.icon-taiyangrichu:before {
  content: '\e60b';
}

.icon-QQgroup:before {
  content: '\e650';
}

.icon-QQ:before {
  content: '\e887';
}

.icon-github:before {
  content: '\e63a';
}

.icon-shouye:before {
  content: '\e698';
}

.icon-xiezi:before {
  content: '\e6ba';
}

.icon-wenzhang:before {
  content: '\fc7f';
}

.icon-icon_mulu:before {
  content: '\e60c';
}

.icon-reset:before {
  content: '\e739';
}

.icon-wenzhangguanli:before {
  content: '\e67c';
}

.icon-xingbie:before {
  content: '\e7f8';
}

.icon-nvsheng:before {
  content: '\e616';
}

.icon-nansheng:before {
  content: '\e618';
}

.icon-pen:before {
  content: '\e67b';
}

.icon-people:before {
  content: '\e8c1';
}

.icon-cross:before {
  content: '\e605';
}

.icon-down:before {
  content: '\e839';
}

.icon-yanjing:before {
  content: '\e60a';
}

.icon-fangdajing:before {
  content: '\e617';
}
